/* max width 900px */
  @media screen and (max-width:900px){

    .modal-body .progress-bar{
      display: none;
    }

    
    .modal-content .form-grid{
      grid-template-columns: 1fr !important;
    }

    
  .modal-content .content{
    margin-top: 6px !important;
  }



    .content-body{
      padding: 0;
      margin-top: 15px;
    }

    .fields-row .field{
      width: 100% !important;
      margin: 5px 0;
    }



    .sidebar .menu{
      height: 520px;
      overflow-y: auto;
    }

    .content-body p, .content-body h3{
      padding:  12px;
    }

    .content-body .header p, .content-body .header h3{
      padding:  0px;
    }
    
  }

/* max width 768px */
  @media (max-width: 768px) {
    .primary-focus .form-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
  
    .primary-focus  .bottom-section {
        grid-template-columns: 1fr;
        gap: 20px;
    }
  
    .primary-focus  .form-container {
        padding: 30px 20px;
        margin: 10px;
    }
  
    .primary-focus .form-title {
        font-size: 2rem;
    }

   
  }

/* max width 640px */
  @media screen and (max-width:640px){
    main.content{
      width: calc(100vw - 68px);
    }
  }

/* max width 600px */
  @media screen and (max-width:600px){
    .modal-content .tab-title {
      text-align: left !important;
      position: unset !important;
    }
    .submenu{
      left: 66px;
    }
    main.content{
      overflow-y: auto;
    }

    .bell-section .bell-section-menu{
      right: auto;
      left: -15px;
    }
  }

/* max width 450px */
  @media screen and (max-width:450px){
    .content-body .task{
      flex-direction: column;
      gap: 12px;
      align-items: stretch;
    }

    .modal-content{
      width: 95%;
    }
    
  }

/* max width 360px */
  @media screen and (max-width:450px){
    .form-section{
      width: 100%;
    }    
  }

/* max width 320px */
  @media screen and (max-width:320px){
   .modal-content{
    padding: 20px 0;
   }

   .modal-content .tab-content {
    width: 93%;
    margin: 12px;
}
  }

